{% include "header.html" %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title%} {% endblock title %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    {% block header %}
    {% endblock header %}


    {% block contents %}
    {% endblock contents %}


    <script type="text/javascript">
        const delete_post = function (redirect_url) {
            let del_prompt = confirm("Are you sure you want to delete this post? ");
            if (del_prompt) {
                window.location = redirect_url
            }
        }
    </script>
</body>

</html>