{% extends "base.html" %}
{% load static %}

{%block title%}
Edit Fan Posts
{%endblock title%}

{% block contents %}
<div class="container">
    <a href="{% url 'fanpage:main' %}">&lt;&lt;&lt; Go back</a>
    <h1 class="title">Edit Post</h1>
    <form action="{% url 'fanpage:post_edit' pk %}" method="POST">
        {% csrf_token %}
        <table class="table">
            {{form.as_table}}
        </table>
        <input type="submit" value="Save Changes" />
    </form>
</div>
{% endblock contents %}