{% extends "base.html" %}

{% load static %}


{%block title%}
    All Fan Posts
{%endblock title%}


{% block contents %}
<div class="container">
    <div class="columns">
        <div class="column">
            <a href="{% url 'fanpage:post_add' %}" class="button is-primary">Add Post</a>
        </div>
    </div>
</div>

{% for entry in entries %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ entry.subject }}</p>
                                <p class="subtitle is-6">By: {{ entry.name }} | Posted on: {{ entry.date_added }}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ entry.message}}
                            <br>
                            <br>
                            <br>
                            <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
                            <p class="is-size-7">
                                Last updated: <time datetime="{{ entry.date_added }}">{{ entry.last_updated }}</time>
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <!-- <a href="#" class="card-footer-item">Save</a> -->
                        <a href="{% url 'fanpage:post_edit' entry.id %}" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item" onclick="delete_post('{% url 'fanpage:post_delete' entry.id %}')">Delete</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock contents %}